@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bgcolor: #3e4549;
$color: #cfcfcf;

body {
    padding-top: 30px;
    background-color: $bgcolor;
    color: $color;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.sidebar {
    max-height: 80vh;
    overflow-y: scroll;
}

.country {
    padding: 15px;
    display: flex;
    border: 1px solid $color;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: $color;

    &:hover {
        background-color: rgb(44, 146, 204);
        color: $color;
    }
}

footer {
    height: 60px;
    background-color: #475f7d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: #c0d6ed;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
}

.bg {
    background-color: blue;
} 

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    img {
        width: 200px;
    }
}
